body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
}


html > body .form-group {
    min-height: 35px;
}

html > body ul.has-error, input.has-error, textarea.has-error, select.has-error, div.has-error {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #cc0000 !important;
    background-color: #f3d8d8 !important;
    background-image: url(http://goo.gl/GXVcmC) !important;
    background-position: 50% 50% !important;
    background-repeat: repeat !important;
}

    html > body ul.has-error input {
        color: #666 !important;
    }

html > body label.has-error {
    color: red;
    font-size: 11px;
    display: block;
}


.has-error .select2-selection {
    border: 1px solid #a94442;
    border-radius: 4px;
}