@using ObjectForm
@using ObjectFormWeb.Models

@{
    ViewBag.Title = "Home Page";
}


<style>
    form .panel-body {
        padding: 0 !important;
    }
    form .table {
        margin-bottom: 0px;
    }
    td input, td select {
        max-width: 100%!important;
    }
</style>

<div style="margin-top: 50px"></div>

@*@Html.ObjectForm().Options(o =>
                o.Action("Action").Class("form-horizontal").ApplyBootstrap().WrapArroundWithDiv("form-group")).AddLabelOptions(l =>
                l.AddLabelClass("col-md-3").AddInLineStyle("color:green")).AddPropertyOptions(p => p.WrapArroundWithDiv("col-md-9"))*@


@Html.ObjectForm(typeof(TestModelForm)).Options(o =>
            o.Action("Action").Class("form-horizontal").ApplyBootstrap().WrapArroundWithDiv("form-group")).AddLabelOptions(l =>
            l.AddLabelClass("col-md-3").AddInLineStyle("color:green")).AddPropertyOptions(p => p.WrapArroundWithDiv("col-md-9"));

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}